* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.4;
    font-size: var(--fontSizeBody);
}

h2 {
    font-size: var(--fontTitleBody);
    font-weight: 400;
    line-height: 2.5rem;
}

*,
button,
input {
    border: 0;
    background: none;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}