@import "./global.css";
@import "./variables.css";
@import "./_container.css";
@import "./_header.css";
@import "./_main.css";

/* tablet version */

@media screen and (min-width: 620px) {}


/* tablet version */

@media screen and (min-width: 960px) {
    header>nav>.menu-container-toggler {
        display: none;
    }
    header>nav>.menu-container {
        position: static;
        top: 0;
        background-color: transparent;
        display: flex;
    }
    header>nav>.menu-container>ul {
        display: flex;
        align-items: center;
    }
    header>nav>.menu-container>ul>li {
        padding: 0 10px;
        color: var(--quaternary);
    }
    header>nav>.button {
        display: block;
    }
}


/* desktop version */

@media screen and (min-width: 1100px) {}